/* Forms */
%form{
    display: flex;
    font-size: 0.8rem;
    border: $default_border;
    border-radius: $default_rounding;
    height: 200px;
    padding: 50px 50px 45px 50px;
    justify-content: center;
    input, button{
        border: $default_border;
        border-radius: $default_rounding;
        color: whitesmoke;
    }
    p, button{
        align-self: center;
    }
    button{
        padding: $default_button_padding;
        font-size: 0.8rem;
        width: auto;
        background-color: $button_main_color;
    }
    p{
        padding: 0;
        margin: 0;
    }
    input{
        margin: 5px 0 20px 0;
        background-color: $input_background_main_color;
        min-height: 32px;
        max-height: 32px;
        font-size: 0.8rem;
        width: 100%;
    }
}