@import './_variables.scss';
@import './_mixins.scss';
@import './_placeholders.scss';

/* Generals */
:root{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $font_main_color;
}
html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}
body{
    background-color: $background_color;
    position: absolute;
}
main{
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 100px;
    align-items: center;
    p, h1{
        text-align: center;
        width: 80%;
    }
}
h1{
    font-size: 2.15rem;
    margin: 10px 0 10px 0;
}
a{
    color: $font_main_color;
}
button:hover{
    background-color: $default_hover_color;
}
aside{
    margin-top: 5px;
}
@media screen and (max-width: 600px){
    main{
        padding: 0;
        h1{
            font-size: 0.9rem;
        }
        p{
            font-size: 0.8rem;
        }
    }
}

/* Navigation bar */
nav{
    overflow: hidden;
    padding: 10px 20px 10px 20px;
}
nav a{
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
}
nav a,
.nav-dropbtn,
.nav-dropdown-content a
{
    padding: 14px 20px;
    border-radius: $default_rounding;
}
nav #nav-menu-icon{
    display: none;
}
.nav-dropdown{
    float: left;
    overflow: hidden;
}
.nav-dropbtn{
    color: $font_main_color;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.nav-dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
.nav-dropdown-content a{
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: $background_color;
}
nav a:hover,
.nav-dropdown:hover .nav-dropbtn,
.nav-dropdown-content a:hover
{
    background-color: $default_hover_color;
}
.nav-dropdown:hover .nav-dropdown-content{
    display: block;
}
.nav-dropdown-icon{
    display: inline;
    padding: 0 0 3px 2px;
    width: 15px;
    height: auto;
}
#logo{
    border: $default_border;
    padding: 10px 30px 10px 30px;
}
@media screen and (min-width: 600px){
    .nav-dropdown, nav a{
        float: right;
    }
    #logo{
        float: left;
    }
}
@media screen and (max-width: 600px){
    nav{
        margin-bottom: 120px;
    }
    nav a:not(:first-child), .nav-dropdown .nav-dropbtn{
        display: none;
    }
    nav.responsive{
        overflow: visible;
        position: relative;
        top: 70px;
        margin-bottom: 40px;
        background-color: rgb(20, 30, 40);
    }
    nav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    nav.responsive .nav-dropdown{
        float: none;
    }
    nav.responsive .nav-dropdown-content{
        position: relative;
    }
    nav.responsive .nav-dropdown .nav-dropbtn{
        display: block;
        width: 100%;
        text-align: left;
    }
    .nav-dropdown-content a{
        background: none;
    }
    .nav-dropdown-content a::before{
        content: '\2022\0000a0';
    }
    nav a#nav-menu-icon,
    nav.responsive a#nav-menu-icon
    {
        display: block;
        position: absolute;
        right: 22px;
        top: 21px;
        z-index: 1;
    }
    nav.responsive a#nav-menu-icon{
        top: -49px;
    }
    #logo{
        z-index: 0;
        display: block;
        position: absolute;
        text-align: center;
        right: 20px;
        left: 20px;
        top: 20px;
    }
    nav.responsive #logo{
        top: -50px;
    }
}

/* Main feature input bar */
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
}
label[for="file-or-link"]{
    margin: 0 0 4px 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: contain;
    background-image: url('../icons/link-icon.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}
#url_handle{
    height: 80px;
    width: 80%;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: $default_border;
    border-radius: $default_rounding;
    input{
        height: auto;
        font-size: 1rem;
        flex-grow: 2;
        border: none;
        background: none;
        outline: none;
        padding: 1rem 1rem;
        color: $input_main_color;
    }
    input::-webkit-input-placeholder, input[type="file"]{
        color: $default_hover_color;
        font-style: italic;
        padding-left: 20px;
    }
    button{
        border-radius: $default_rounding;
        border: $default_border;
        background: $background_color;
        aspect-ratio: 1;
        position: absolute;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
#shorten_button > svg{
    width: 40px;
    height: 40px;
    fill: $input_main_color;
}
#file-or-link{
    display: none;
}
#file-or-link:checked + label[for="file-or-link"]{
    background-image: url('../icons/file-icon.svg');
    margin: 0 0 5px 25px;
}
#file-or-link:checked ~ #original-url{
    display: none;
}
#file-or-link:not(:checked) ~ #to-upload{
    display: none;
}
@media screen and (max-width: 600px){
    #url_handle{
        input{
            padding: 0;
            width: 20px;
        }
        button{
            bottom: -100px;
            left: 0;
            margin: auto
        }
    }
}

/* Forms */
form:not(#url_handle){
    @extend %form;
}
.separator{
    flex-basis: 0;
    height: 79%;
    align-self: center;
    margin: 0 20px 20px 30px;
    border: 1px solid whitesmoke;
}
#login-form, #profile-form, #password-form{
    width: 300px;
    flex-direction: column;
}
#password-form{
    height: 270px !important;
}
#register-form{
    width: 600px;
    flex-wrap: wrap;
}
#inputs-container{
    padding: 0;
    margin: 0 0 -10px 0;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 600px){
    form:not(#url_handle),
    form:not(#url_handle) ~ aside
    {
        max-width: 65vw;
    }
    form:not(#url_handle) ~ aside{
        text-align: center;
        margin-bottom: 50px;
    }
    #register-form{
        flex-direction: column;
        flex-wrap: nowrap;
        height: 400px !important;
    }
    #inputs-container{
        padding: 0;
        margin: 0;
        display: inherit;
        flex-direction: inherit;
    }
    .separator{
        height: 0;
        width: 89%;
        margin: 0 0 15px 6px !important;
        align-self: center;
        margin: 0;
        border: 1px solid whitesmoke;
    }
}

/* Modals/dialog boxes */
dialog{
    flex-wrap: wrap;
    justify-content: center;
    background-color: $background_color;
    color: $font_main_color;
    border: $default_border;
    border-radius: $default_rounding;
    height: min-content;
    width: 40%;
}
dialog::backdrop{
    background-color: rgb(50, 63, 75);
    opacity: 0.75;
}
#dialog-message{
    font-weight: bold;
}
#dialog-confirm{
    border: $default_border;
    border-radius: $default_rounding;
    padding: $default_button_padding;
    text-decoration: none;
    background-color: $button_main_color;
}
#dialog-confirm:hover, #dialog-confirm:focus{
    background-color: $default_hover_color;
}

/* Flash message boxes */
#flash-zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10rem 0 10rem;
    min-height: 5vh;
    background-color: $background_color;
}
.danger-flash{@include flash-box(#aa3939, #550000);}
.info-flash{@include flash-box(#2e4372, #061639);}
.warning-flash{@include flash-box(#aa8439, #553900);}
.success-flash{@include flash-box(#2e882e, #004400);}
@media screen and (max-width: 600px){
    #flash-zone{padding: 0;}
}
@media screen
and (max-height: 750px)
and (max-width: 600px)
{
    #flash-zone{min-height: 1vh;}
}
@media screen
and (min-height: 900px)
and (max-width: 600px)
{
    #flash-zone{min-height: 6vh;}
}

/* Links tables */
table{
    text-align: center;
    border-collapse: collapse;
}
th{
    background-color: #061639;
}
tr:hover td:first-child, th:first-child{
    border-radius: 2rem 0 0 2rem;
}
tr:hover td:last-child, th:last-child{
    border-radius: 0 2rem 2rem 0;
}
td, th{
    padding: 10px 15px 10px 15px;
}
tbody tr:hover{
    background-color: $default_hover_color;
}
.delete-action{
    color: #aa3939;
}
.td-original{
    max-width: 150px;
    overflow-x: auto;
    white-space: nowrap;
}
.td-date{
    min-width: 150px;
}
::-webkit-scrollbar{
    height: 6px;
    background-color: $button_main_color;
    border-radius: $default_rounding;
}
::-webkit-scrollbar-thumb{
    background: whitesmoke;
    border-radius: $default_rounding;
}
@-moz-document url-prefix(){
    tr:hover td:first-child, th:first-child{
        border-radius: 2rem 0 0 2rem;
    }
    .td-short, .th-short{
        min-width: 300px;
    }
    .td-original{
        height: 50px;
        display: block;
        scrollbar-width: auto;
        scrollbar-color: whitesmoke $default_hover_color;
    }
}

/* Pagination bar */
#pagination-bar{
    position: absolute;
    bottom: 90px;
}
#pagination-bar a{
    text-decoration: none;
}
#pagination-bar span, #pagination-bar a{
    border-radius: $default_rounding;
    padding: $default_button_padding;
}
#pagination-bar a:hover{
    background-color: $default_hover_color;
}
#current-page{
    border: $default_border;
}

/* Footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 2.5rem;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        display: inline;
        font-size: 0.8rem;
    }
    img{
        width: 1rem;
        height: auto;
        position: relative;
        top: 5px;
    }
}
@media screen and (max-width: 600px){
    footer{
        display: grid;
        justify-items: center;
        p{
            font-size: 0.7rem;
            display: inline-block;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }
}