@charset "UTF-8";
/* Colors */
/* Box borders */
/* Paddings */
/* Flash message box */
/* Forms */
form:not(#url_handle) {
  display: flex;
  font-size: 0.8rem;
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  height: 200px;
  padding: 50px 50px 45px 50px;
  justify-content: center;
}
form:not(#url_handle) input, form:not(#url_handle) button {
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  color: whitesmoke;
}
form:not(#url_handle) p, form:not(#url_handle) button {
  align-self: center;
}
form:not(#url_handle) button {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 0.8rem;
  width: auto;
  background-color: rgb(22, 32, 42);
}
form:not(#url_handle) p {
  padding: 0;
  margin: 0;
}
form:not(#url_handle) input {
  margin: 5px 0 20px 0;
  background-color: rgb(40, 50, 60);
  min-height: 32px;
  max-height: 32px;
  font-size: 0.8rem;
  width: 100%;
}

@keyframes horizontal-text-scroll {
  0%, 20% {
    transform: translateX(0);
  }
  60%, 90% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Generals */
:root {
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  background-color: rgb(30, 40, 50);
  position: absolute;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 100px 0 100px;
  align-items: center;
}
main p, main h1 {
  text-align: center;
  width: 80%;
}

h1 {
  font-size: 2.15rem;
  margin: 10px 0 10px 0;
}

a {
  color: whitesmoke;
}

button:hover {
  background-color: #616161;
}

aside {
  margin-top: 5px;
}

@media screen and (max-width: 480px) {
  main {
    padding: 0;
  }
  main h1 {
    font-size: 0.9rem;
  }
  main p {
    font-size: 0.8rem;
  }
}
/* Navigation bar */
nav {
  overflow: hidden;
  padding: 10px 20px 10px 20px;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

nav a,
.nav-dropbtn,
.nav-dropdown-content a {
  padding: 14px 20px;
  border-radius: 2rem;
}

nav #nav-menu-icon {
  display: none;
}

.nav-dropdown {
  float: left;
  overflow: hidden;
}

.nav-dropbtn {
  color: whitesmoke;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.nav-dropdown-content a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: rgb(30, 40, 50);
}

nav a:hover,
.nav-dropdown:hover .nav-dropbtn,
.nav-dropdown-content a:hover {
  background-color: #616161;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

.nav-dropdown-icon {
  display: inline;
  padding: 0 0 3px 2px;
  width: 15px;
  height: auto;
}

#logo {
  border: 2px solid whitesmoke;
  padding: 10px 30px 10px 30px;
}

@media screen and (min-width: 480px) {
  .nav-dropdown, nav a {
    float: right;
  }
  #logo {
    float: left;
  }
}
@media screen and (max-width: 480px) {
  nav {
    margin-bottom: 120px;
  }
  nav a:not(:first-child), .nav-dropdown .nav-dropbtn {
    display: none;
  }
  nav.responsive {
    overflow: visible;
    position: relative;
    top: 70px;
    margin-bottom: 40px;
    background-color: rgb(20, 30, 40);
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  nav.responsive .nav-dropdown {
    float: none;
  }
  nav.responsive .nav-dropdown-content {
    position: relative;
  }
  nav.responsive .nav-dropdown .nav-dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .nav-dropdown-content a {
    background: none;
  }
  .nav-dropdown-content a::before {
    content: "• ";
  }
  nav a#nav-menu-icon,
  nav.responsive a#nav-menu-icon {
    display: block;
    position: absolute;
    right: 22px;
    top: 21px;
    z-index: 1;
  }
  nav.responsive a#nav-menu-icon {
    top: -49px;
  }
  #logo {
    z-index: 0;
    display: block;
    position: absolute;
    text-align: center;
    right: 20px;
    left: 20px;
    top: 20px;
  }
  nav.responsive #logo {
    top: -50px;
  }
}
/* Main feature input bar */
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

label[for=file-or-link] {
  margin: 0 0 4px 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
  background-image: url("../icons/link-icon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

#url_handle {
  height: 80px;
  width: 80%;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 2rem;
}
#url_handle input {
  height: auto;
  font-size: 1rem;
  flex-grow: 2;
  border: none;
  background: none;
  outline: none;
  padding: 1rem 1rem;
  color: whitesmoke;
}
#url_handle input::-webkit-input-placeholder, #url_handle input[type=file] {
  color: #616161;
  font-style: italic;
  padding-left: 20px;
}
#url_handle button {
  border-radius: 2rem;
  border: 2px solid whitesmoke;
  background: rgb(30, 40, 50);
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#shorten_button > svg {
  width: 40px;
  height: 40px;
  fill: whitesmoke;
}

#file-or-link {
  display: none;
}

#file-or-link:checked + label[for=file-or-link] {
  background-image: url("../icons/file-icon.svg");
  margin: 0 0 5px 25px;
}

#file-or-link:checked ~ #original-url {
  display: none;
}

#file-or-link:not(:checked) ~ #to-upload {
  display: none;
}

@media screen and (max-width: 480px) {
  #url_handle input {
    padding: 0;
    width: 20px;
  }
  #url_handle button {
    bottom: -100px;
    left: 0;
    margin: auto;
  }
}
/* Forms */
.separator {
  flex-basis: 0;
  height: 79%;
  align-self: center;
  margin: 0 20px 20px 30px;
  border: 1px solid whitesmoke;
}

#login-form, #profile-form, #password-form {
  width: 300px;
  flex-direction: column;
}

#password-form {
  height: 270px !important;
}

#register-form {
  width: 600px;
  flex-wrap: wrap;
}

#inputs-container {
  padding: 0;
  margin: 0 0 -10px 0;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 480px) {
  form:not(#url_handle),
  form:not(#url_handle) ~ aside {
    max-width: 65vw;
  }
  form:not(#url_handle) ~ aside {
    text-align: center;
    margin-bottom: 50px;
  }
  #register-form {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 400px !important;
  }
  #inputs-container {
    padding: 0;
    margin: 0;
    display: inherit;
    flex-direction: inherit;
  }
  .separator {
    height: 0;
    width: 89%;
    margin: 0 0 15px 6px !important;
    align-self: center;
    margin: 0;
    border: 1px solid whitesmoke;
  }
}
/* Modals/dialog boxes */
dialog {
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(30, 40, 50);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  height: min-content;
  width: 40%;
}

dialog::backdrop {
  background-color: rgb(50, 63, 75);
  opacity: 0.75;
}

#dialog-message {
  font-weight: bold;
}

#dialog-confirm {
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  text-decoration: none;
  background-color: rgb(22, 32, 42);
}

#dialog-confirm:hover, #dialog-confirm:focus {
  background-color: #616161;
}

@media screen and (max-width: 480px) {
  dialog {
    width: 75vw;
  }
}
/* Flash message boxes */
#flash-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem 0 10rem;
  min-height: 5vh;
  background-color: rgb(30, 40, 50);
}

.danger-flash {
  background-color: #550000;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  border: 2px solid;
  border-radius: 2rem;
  border-color: #aa3939;
  min-height: 30px;
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 5px;
}
.danger-flash p {
  margin: 0;
  padding: 0;
  grid-column: 2;
}
.danger-flash button {
  display: inline-flex;
  align-items: center;
  justify-self: end;
  grid-column: 3;
  border: none;
  background: none;
  text-decoration: none;
  font-size: 2rem;
  color: rgb(222, 66, 66);
  float: right;
  line-height: 0.6;
  cursor: pointer;
  border-radius: 2rem;
}
.danger-flash button:hover {
  color: rgb(172, 16, 16);
}
@media screen and (max-width: 480px) {
  .danger-flash {
    max-width: 87vw;
  }
}
@-moz-document url-prefix() {
  .danger-flash button {
    font-size: 1.55rem;
    font-weight: bold;
  }
}

.info-flash {
  background-color: #061639;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  border: 2px solid;
  border-radius: 2rem;
  border-color: #2e4372;
  min-height: 30px;
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 5px;
}
.info-flash p {
  margin: 0;
  padding: 0;
  grid-column: 2;
}
.info-flash button {
  display: inline-flex;
  align-items: center;
  justify-self: end;
  grid-column: 3;
  border: none;
  background: none;
  text-decoration: none;
  font-size: 2rem;
  color: rgb(222, 66, 66);
  float: right;
  line-height: 0.6;
  cursor: pointer;
  border-radius: 2rem;
}
.info-flash button:hover {
  color: rgb(172, 16, 16);
}
@media screen and (max-width: 480px) {
  .info-flash {
    max-width: 87vw;
  }
}
@-moz-document url-prefix() {
  .info-flash button {
    font-size: 1.55rem;
    font-weight: bold;
  }
}

.warning-flash {
  background-color: #553900;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  border: 2px solid;
  border-radius: 2rem;
  border-color: #aa8439;
  min-height: 30px;
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 5px;
}
.warning-flash p {
  margin: 0;
  padding: 0;
  grid-column: 2;
}
.warning-flash button {
  display: inline-flex;
  align-items: center;
  justify-self: end;
  grid-column: 3;
  border: none;
  background: none;
  text-decoration: none;
  font-size: 2rem;
  color: rgb(222, 66, 66);
  float: right;
  line-height: 0.6;
  cursor: pointer;
  border-radius: 2rem;
}
.warning-flash button:hover {
  color: rgb(172, 16, 16);
}
@media screen and (max-width: 480px) {
  .warning-flash {
    max-width: 87vw;
  }
}
@-moz-document url-prefix() {
  .warning-flash button {
    font-size: 1.55rem;
    font-weight: bold;
  }
}

.success-flash {
  background-color: #004400;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  border: 2px solid;
  border-radius: 2rem;
  border-color: #2e882e;
  min-height: 30px;
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 5px;
}
.success-flash p {
  margin: 0;
  padding: 0;
  grid-column: 2;
}
.success-flash button {
  display: inline-flex;
  align-items: center;
  justify-self: end;
  grid-column: 3;
  border: none;
  background: none;
  text-decoration: none;
  font-size: 2rem;
  color: rgb(222, 66, 66);
  float: right;
  line-height: 0.6;
  cursor: pointer;
  border-radius: 2rem;
}
.success-flash button:hover {
  color: rgb(172, 16, 16);
}
@media screen and (max-width: 480px) {
  .success-flash {
    max-width: 87vw;
  }
}
@-moz-document url-prefix() {
  .success-flash button {
    font-size: 1.55rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 480px) {
  #flash-zone {
    padding: 0;
  }
}
@media screen and (max-height: 750px) and (max-width: 480px) {
  #flash-zone {
    min-height: 1vh;
  }
}
@media screen and (min-height: 900px) and (max-width: 480px) {
  #flash-zone {
    min-height: 6vh;
  }
}
/* Link infos cards */
#slider-container {
  position: absolute;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.link-card {
  position: absolute;
  width: 300px;
  text-align: justify;
  height: 320px;
  background-color: rgb(40, 50, 60);
  transition: 0.5s;
  left: calc(50% - 250px);
  top: 0;
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  padding: 20px 30px 20px 30px;
}

td, th {
  padding: 10px 0 10px 15px;
  border-radius: 2rem;
}

th {
  min-width: 200px;
  margin-right: 10px;
}

#previous-slide, #next-slide {
  position: absolute;
  top: 30%;
  color: whitesmoke;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  font-family: monospace;
  font-weight: bold;
  left: 50px;
  z-index: 10;
}

#next-slide {
  left: unset;
  right: 50px;
}

#slides-counter {
  position: absolute;
  bottom: 7vh;
}

th {
  background-color: #061639;
}

.delete-action {
  color: #aa3939;
}

.td-original, .td-short {
  min-width: 200px;
  overflow: hidden;
  position: relative;
}

.td-actions {
  margin: 0;
  padding: 5px 0 0 0;
  text-align: center;
}

.scrolling-text {
  animation: horizontal-text-scroll 15s linear 0s infinite normal none;
  white-space: nowrap;
  position: absolute;
  top: 20%;
}

@media screen and (max-width: 480px) {
  #previous-slide, #next-slide {
    top: unset;
    bottom: 17vh;
    color: whitesmoke;
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
    z-index: 10;
  }
  #next-slide {
    left: unset;
    right: 50px;
  }
  #slides-counter {
    position: absolute;
    bottom: 14vh;
    font-size: 1.2rem;
  }
  .td-original,
  .td-short,
  .td-last-visit,
  .td-date {
    min-width: 10px;
  }
  .link-card {
    width: 100vw;
    left: 0;
    right: 0;
    font-size: smaller;
  }
}
@media screen and (max-width: 410px) {
  .link-card {
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
  }
}
/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 2.5rem;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p {
  display: inline;
  font-size: 0.8rem;
}
footer img {
  width: 1rem;
  height: auto;
  position: relative;
  top: 5px;
}

@media screen and (max-width: 480px) {
  footer {
    display: grid;
    justify-items: center;
  }
  footer p {
    font-size: 0.7rem;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
