/* Colors */
/* Others */
.success-flash, .warning-flash, .info-flash, .danger-flash {
  border: 2px solid;
  border-radius: 2rem;
  height: 30px;
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.success-flash button, .warning-flash button, .info-flash button, .danger-flash button {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 2rem;
  color: rgb(222, 66, 66);
  float: right;
  line-height: 0.6;
  cursor: pointer;
}

#login-form, #register-form {
  display: flex;
  font-size: 0.8rem;
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  height: 200px;
  padding: 50px 50px 50px 50px;
}
#login-form input, #register-form input, #login-form button, #register-form button {
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  color: whitesmoke;
}
#login-form button, #register-form button {
  font-size: 0.8rem;
  width: calc(100% - 50px);
  align-self: center;
  background-color: rgb(40, 50, 60);
}
#login-form input, #register-form input {
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: rgb(40, 50, 60);
  height: 40px;
  font-size: 0.8rem;
  width: 100%;
}

/* General */
:root {
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(30, 40, 50);
  position: absolute;
  margin: 0;
}

/* HTML tags customization */
nav {
  padding-left: 50px;
  padding-right: 50px;
  padding: 10px 50px 0 50px;
  margin-bottom: 30px;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  float: right;
}
nav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 100px 0 100px;
  align-items: center;
}
main p, main h1 {
  text-align: center;
  width: 80%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 2.5rem;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p {
  display: inline;
  font-size: 0.8rem;
}
footer img {
  width: 1rem;
  height: auto;
  position: relative;
  top: 5px;
}
footer a {
  color: whitesmoke;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

/* Single element customization */
#logo {
  float: left;
  border: 2px solid whitesmoke;
  border-radius: 1rem;
  padding: 0 15px 0 15px;
}

#url_handle {
  height: 80px;
  width: 80%;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 2rem;
}
#url_handle input {
  height: auto;
  font-size: 1rem;
  flex-grow: 2;
  border: none;
  background: none;
  outline: none;
  padding: 1rem 2rem;
}
#url_handle input::-webkit-input-placeholder {
  color: #616161;
  font-style: italic;
  padding-left: 20px;
}
#url_handle button {
  border-radius: 2rem;
  border: 2px solid whitesmoke;
  background: none;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#shorten_button > svg {
  width: 40px;
  height: 40px;
  fill: whitesmoke;
}

#login-form {
  width: 300px;
  flex-direction: column;
}

#register-form {
  width: 600px;
  flex-wrap: wrap;
}
#register-form #inputs-box {
  display: flex;
  flex-direction: row;
}

/* Custom classes */
.flash-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  min-height: 20px;
}

.danger-flash {
  border-color: #aa3939;
  background-color: #550000;
}

.info-flash {
  border-color: #2e4372;
  background-color: #061639;
}

.warning-flash {
  border-color: #aa8439;
  background-color: #553900;
}

.success-flash {
  border-color: #2e882e;
  background-color: #004400;
}

.separator {
  flex-basis: 0;
  height: 80%;
  align-self: center;
  margin: 0 20px 20px 30px;
  border: 1px solid whitesmoke;
}

/*# sourceMappingURL=style.css.map */
