{% extends 'base.html.jinja' %}
{% block main %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Raccourci</th>
            <th>Nombre de clicks</th>
            <th>Statut</th>
            <th>Original</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
            {% if link.original and not link.attached_file_name %}
            <tr>
                <td>{{ link.id }}</td>
                <td><a href='http://localhost:8052/{{ link.short }}'>http://localhost:8052/{{ link.short }}</a></td>
                <td>{{ link.clicks }}</td>
                <td>{{ "Actif" if link.state else "Désactivé" }}</td>
                <td><a href='{{ link.original }}'>{{ link.original }}</a></td>
                <td>
                    <a href="/u/links/toggle/{{ link.id }}">{{ "Désactiver" if link.state else "Réactiver"}}</a>
                    <a href="#">Supprimer</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
