{% extends 'base.html.jinja' %}
{% block main %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Raccourci</th>
            <th>Nombre de clics</th>
            <th>Statut</th>
            <th>Original</th>
            <th>Créé le</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
        <tr>
            <td>{{ link.id }}</td>
            <td><a href='{{ domain_name ~ link.short }}'>{{ domain_name ~ link.short }}</a></td>
            <td>{{ link.clicks }}</td>
            <td>{{ "Actif" if link.state else "Désactivé" }}</td>
            <td><a href='{{ link.original }}'>{{ link.original }}</a></td>
            <td>{{ links_dates[loop.index0].date ~ ", " ~ links_dates[loop.index0].time ~ '.'}}</td>
            <td>
                <a href="/u/links/{{ link.id }}/toggle">{{ "Désactiver" if link.state else "Réactiver"}}</a>
                <a href="/u/links/{{ link.id }}/delete">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}