{% extends 'base.html.jinja' %}
{% block main %}
{% if links.items == [] %}
<p>Vous n'avez aucun raccourci pour le moment.</p>
{% else %}
{% set toggle_message = "Êtes-vous sûr(e) de vouloir désactiver/réactiver ce raccourci ?" %}
{% set delete_message = "Êtes-vous sûr(e) de vouloir supprimer ce raccourci ? Cette action est irréversible !" %}
{% set back_to_page = links.page %}
{% if links.items|length == 1 %}
    {% set back_to_page = back_to_page - 1 %}
{% endif %}
<table>
    <thead>
        <tr>
            <th class="th-short">Raccourci</th>
            <th class="th-clicks">Nombre de clics</th>
            <th class="th-state">Statut</th>
            <th class="th-original">Original</th>
            <th class="th-date">Créé le</th>
            <th class="th-last-visit">Dernière visite</th>
            <th class="th-actions">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
        <tr>
            <td class="td-short"><a href='{{ domain_name ~ link.short }}'>{{ domain_name ~ link.short }}</a></td>
            <td class="td-clicks">{{ link.clicks }}</td>
            <td class="td-state">{{ "Actif" if link.state else "Désactivé" }}</td>
            <td class="td-original"><a href='{{ link.original }}'>{{ link.original }}</a></td>
            <td class="td-date">{{ links_dates[loop.index0].date ~ ", " ~ links_dates[loop.index0].time[:-3]}}</td>
            <td class="td-last-visit">
                {{ link.last_visit_at[:10] ~ ", " ~ link.last_visit_at[10:-16] if link.clicks != 0 else "/" }}
            </td>
            <td class="td-actions">
                <a
                    href="#"
                    onclick="openDialog('/u/links/{{ link.id }}/toggle?back_to={{ back_to_page }}', '{{ toggle_message }}')"
                >
                    {{ "Désactiver" if link.state else "Réactiver"}}
                </a>
                <a
                    href="#"
                    onclick="openDialog('/u/links/{{ link.id }}/delete?back_to={{ back_to_page }}', '{{ delete_message }}')"
                    class="delete-action"
                >
                    Supprimer
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if links.pages > 1 %}
    {% with pagination_infos = {'pagination' : links, 'pagination_for' : 'links'} %}
        {% include "./_partials/_pagination.html.jinja" %}
    {% endwith %}
{% endif %}
{% include './_partials/_dialog.html.jinja' %}
{% endif %}
{% endblock %}