{% extends 'base.html.jinja' %}
{% block main %}
<h1>Vos informations</h1>
<form action="#" method="post" class="form" id="password-form">
    <label for="old_password">Ancien mot de passe</label>
    <input type="password" name="old_password">
    <label for="new_password">Nouveau mot de passe</label>
    <input type="password" name="new_password">
    <label for="new_password_confirm">Confirmation mot de passe</label>
    <input type="password" name="new_password_confirm">
    <button type="submit">Modifier</button>
    <a href="{{ url_for('main.index') }}">Annuler</a>
</form>
{% endblock %}