{% extends 'base.html.jinja' %}
{% block main %}
<h1>Vos informations</h1>
<form action="#" method="post" id="password-form">
    <label for="old_password">Ancien mot de passe</label>
    <input type="password" name="old_password">
    <label for="new_password">Nouveau mot de passe</label>
    <input type="password" name="new_password">
    <label for="new_password_confirm">Confirmation mot de passe</label>
    <input type="password" name="new_password_confirm">
    <p>
        <a href="{{ url_for('main.index') }}">Annuler</a>
        <span id="buttons-separator">&nbsp;|&nbsp;</span>
        <button type="submit">Modifier</button>
    </p>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}