<dialog id="dialog">
    <p id="dialog-message"></p>
    <p id="dialog-buttons">
        <a href="#" onclick="closeDialog()" id="dialog-cancel">Annuler</a>
        <span id="dialog-buttons-separator">&nbsp;|&nbsp;</span>
        <a id="dialog-confirm">Confirmer</a>
    </p>
</dialog>