<p>Ce service est gratuit et...&nbsp;<a href="https://github.com/FrozenCell239/URL_shortener">open source</a>&nbsp;! =]</p>
<p>
    Fait avec &#10084;, mais aussi avec&nbsp;
    <span><img src="{{ url_for('static', filename = 'icons/flask-original.svg') }}" alt="Flask"></span>,&nbsp;
    <span><img src="{{ url_for('static', filename = 'icons/postgresql-original.svg') }}" alt="PostGreSQL"></span>, et&nbsp;
    <span><img src="{{ url_for('static', filename = 'icons/sass-original.svg') }}" alt="Sass"></span>&nbsp;!
</p>