{% set pagination = pagination_infos['pagination'] %}
{% set pagination_for = pagination_infos['pagination_for'] %}
<div id="pagination-bar">
    {% if pagination.has_prev %}
        <a
            id="previous-page"
            href="{{ url_for('user.' ~ pagination_for, page = pagination.prev_num) }}"
        >Précédent</a>
    {% endif %}
    {% for number in pagination.iter_pages() %}
        {% if pagination.page != number %}
            <a
                id="page"
                href="{{ url_for('user.' ~ pagination_for, page = number) }}"
            >{{ number }}</a>
        {% else %}
            <span id="current-page">{{ number }}</span>
        {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
        <a
            id="next-page"
            href="{{ url_for('user.' ~ pagination_for, page = pagination.next_num) }}"
        >Suivant</a>
    {% endif %}
</div>