/* Flash message boxes */
%flash{
    border: 2px solid;
    border-radius: 2rem;
    height: 30px;
    width: 100%;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    padding: 0.6rem 2rem 0.6rem 2rem;
    button{
        border: none;
        background: none;
        text-decoration: none;
        font-size: 2rem;
        color: rgb(222, 66, 66);
        float: right;
        line-height: 0.6;
        cursor: pointer;
    }
}

/* Forms */
%form{
    display: flex;
    font-size: 0.8rem;
    border: 2px solid whitesmoke;
    border-radius: 2rem;
    height: 200px;
    padding: 40px 50px 40px 50px;
    input, button{
        border: 2px solid whitesmoke;
        border-radius: 2rem;
        color: whitesmoke;
    }
    button{
        font-size: 0.8rem;
        width: calc(100% - 50px);
        align-self: center;
        background-color: rgb(40, 50, 60);
    }
    input{
        margin-top: 5px;
        margin-bottom: 20px;
        background-color: rgb(40, 50, 60);
        height: 40px;
        font-size: 0.8rem;
        width: 100%;
    }
}