/* Colors */
$background_color: rgb(30, 40, 50);
$input_main_color: whitesmoke;
$font_main_color: whitesmoke;
$button_main_color: rgb(40, 50, 60);
$default_hover_color: #616161;

/* Others */
$default_rounding: 2rem;
$default_border: 2px solid whitesmoke;