@import './_variables.scss';
@import './_mixins.scss';
@import './_placeholders.scss';

/* General */
body{
    height: 100vh;
    width: 100vw;  
    background-color: $background_color;
}

/* Flash boxes */
.danger-flash{
    @extend %flash;
    border-color: rgb(227 114 133);
    background-color: rgb(240 178 189);
}
.info-flash{
    @extend %flash;
    border-color: rgb(101 144 213);
    background-color: rgb(171 194 232);
}
.warning-flash{
    @extend %flash;
    border-color: rgb(234 181 76);
    background-color: rgb(244 215 157);
}
.success-flash{
    @extend %flash;
    border-color: rgb(28 226 107);
    background-color: rgb(131 240 174);
}