@import './_variables.scss';
@import './_mixins.scss';
@import './_placeholders.scss';

/* General */
:root{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $font_main_color;
}
body{
    height: 100vh;
    width: 100vw;  
    background-color: $background_color;
    position: absolute;
    margin: 0;
}

/* HTML tags customization */
nav{
    //background-color: aqua;
    padding-left: 50px;
    padding-right: 50px;
    padding: 10px 50px 0 50px;
    margin-bottom: 30px;
    ul{
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    li{
        display: inline;
        float: right;
    }
    a{
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: $font_main_color;
    }
}
main{
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 100px;
    align-items: center;
    p, h1{
        text-align: center;
        width: 80%;
    }
}
footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 2.5rem;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        display: inline;
        font-size: 0.8rem;
    }
    img{
        width: 1rem;
        height: auto;
        position: relative;
        top: 5px;
    }
    a{
        color: $font_main_color;
    }
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
}

/* Single element customization */
#logo{
    float: left;
    border: 2px solid whitesmoke;
    border-radius: 1rem;
    padding: 0 15px 0 15px;
}
#url_handle{
    height: 80px;
    width: 80%;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid $input_main_color;
    border-radius: $default-rounding;
    input{
        height: auto;
        font-size: 1rem;
        flex-grow: 2;
        border: none;
        background: none;
        outline: none;
        padding: 1rem 2rem;
    }
    input::-webkit-input-placeholder{
        color: #616161;
        font-style: italic;
        padding-left: 20px;
    }
    button{
        border-radius: $default-rounding;
        border: 2px solid $input_main_color;
        background: none;
        aspect-ratio: 1;
        position: absolute;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
#shorten_button > svg{
    width: 40px;
    height: 40px;
    fill: $input_main_color;
}
#login-form, #register-form{@extend %form;}
#login-form{
    width: 300px;
    flex-direction: column;
}
#register-form{
    width: 600px;
    flex-wrap: wrap;
    #inputs-box{
        display: flex;
        flex-direction: row;
    }
}

/* Custom classes */
// Flash message boxes
.flash-zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    min-height: 20px;
}
.danger-flash{
    @extend %flash;
    border-color: #aa3939;
    background-color: #550000;
}
.info-flash{
    @extend %flash;
    border-color: #2e4372;
    background-color: #061639;
}
.warning-flash{
    @extend %flash;
    border-color: #aa8439;
    background-color: #553900;
}
.success-flash{
    @extend %flash;
    border-color: #2e882e;
    background-color: #004400;
}

// Others
.separator{
    flex-basis: 0;
    height: 80%;
    align-self: center;
    margin: 0 20px 20px 30px;
    border: 1px solid whitesmoke;
}