<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- HTML settings -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}"> #}
        <title>{% block title %}{{ title }}{% endblock %}</title>

        <!-- Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/style.css') }}">

        <!-- JavaScript -->
        <script src="{{ url_for('static', filename = 'js/index.js') }}" defer></script>
    </head>
    <body>
        <header>
            {% block header %}
                {% include './_partials/_navbar.html.jinja' %}
            {% endblock %}
            <div id="flash-zone">
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% with flash_id = loop.index %}
                            {% include './_partials/_flash.html.jinja' %}
                        {% endwith %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            {% include './_partials/_footer.html.jinja' %}
        </footer>
    </body>
</html>