<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- HTML settings -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--link rel="icon" type="image/x-icon" href="{#{ asset('img/favicon.png') }#}"-->
        <title>{% block title %}{{ title }}{% endblock %}</title>

        <!-- Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/style.css') }}">

        <!-- JavaScript -->
        <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
    </head>
    <body class="bg-gray-200">
        <header>
            {% block header %}
            <nav>
                <ul>
                    <li id="logo"><a href="{{ url_for('main.index') }}">ShortThatLink!</a></li>
                    {% if session.username %}
                    <li><a href="{{ url_for('main.logout') }}">Déconnexion</a></li>
                        {% if self._TemplateReference__context.name != "user/profile.html.jinja" %}
                        <li><a href="{{ url_for('user.profile') }}">Mes infos</a></li>
                        {% endif %}
                        {% if self._TemplateReference__context.name != "user/files.html.jinja" %}
                        <li><a href="#">Mes fichiers</a></li>
                        {% endif %}
                        {% if self._TemplateReference__context.name != "user/links.html.jinja" %}
                        <li><a href="{{ url_for('user.links') }}">Mes liens</a></li>
                        {% endif %}
                    {% else %}
                        {% if self._TemplateReference__context.name != "login.html.jinja" %}
                        <li><a href="{{ url_for('main.login') }}">Se connecter</a></li>
                        {% endif %}
                        {% if self._TemplateReference__context.name != "register.html.jinja" %}
                        <li><a href="{{ url_for('main.register') }}">S'inscrire</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
            {% endblock %}
            <div class="flash-zone">
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% with flash_id = loop.index %}
                            {% include './_partials/_flash.html.jinja' %}
                        {% endwith %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <p>Ce service est gratuit et...&nbsp;<a href="https://github.com/FrozenCell239/URL_shortener">open source</a>&nbsp;! =]</p>
            <p>
                Fait avec &#10084;, mais aussi avec&nbsp;
                <span><img src="{{ url_for('static', filename = 'images/flask-original.svg') }}" alt="Flask"></span>,&nbsp;
                <span><img src="{{ url_for('static', filename = 'images/postgresql-original.svg') }}" alt="PostGreSQL"></span>, et&nbsp;
                <span><img src="{{ url_for('static', filename = 'images/sass-original.svg') }}" alt="Sass"></span>&nbsp;!
            </p>
        </footer>
    </body>
</html>