{% extends 'base.html.jinja' %}
{% block main %}
<form action="#" method="post">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" name="username" id="username" required>
    <label for="mail">Adresse mail</label>
    <input type="email" name="mail" id="mail" required>
    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" required>
    <label for="password_confirm">Confirmation mot de passe</label>
    <input type="password" name="password_confirm" id="password_confirm" required>
    <button type="submit">S'enregistrer</button>
</form>
{% endblock %}