{% extends 'base.html.jinja' %}
{% block main %}
<h1>{{ title }}</h1>
<form action="#" method="post" id="register-form">
    <div id="inputs-container">
        <fieldset>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username" required>
            <label for="mail">Adresse mail</label>
            <input type="email" name="mail" id="mail" required>
        </fieldset>
        <div class="separator"></div>
        <fieldset>
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" required>
            <label for="password-confirm">Confirmation mot de passe</label>
            <input type="password" name="password_confirm" id="password-confirm" required>
        </fieldset>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit">S'enregistrer</button>
</form>
<aside>
    Vous avez déjà un compte ? <a href="{{ url_for('security.login') }}">Connectez-vous !</a>
</aside>
{% endblock %}